<footer class="shophia-footer-area my-3">
    <div class="shophia-footer-top section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>CHIP CHIP SHOP</h3>
                        <ul class="single-footer_ul">
								<li>
									<i class="fa fa-map-marker"></i>
                                    238 Hoàng Quốc Việt, P. Cổ Nhuế 1, Q. Bắc Từ Liêm, TP. Hà Nội.
								</li>
								<li>
									<i class="fa fa-map-marker"></i>
                                    238 Hoàng Quốc Việt, P. Cổ Nhuế 1, Q. Bắc Từ Liêm, TP. Hà Nội.
								</li>
								<li>
									<i class="fa fa-map-marker"></i>
                                    238 Hoàng Quốc Việt, P. Cổ Nhuế 1, Q. Bắc Từ Liêm, TP. Hà Nội.
								</li>
								<li>
									<i class="fa fa-phone"></i>
									028.7109.1188
								</li>
								<li class="last">
									<i class="fa fa-envelope"></i>
									support@chipchipshop.com
								</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>HỖ TRỢ</h3>
                        <ul class="single-footer_ul">
                            <li ><a><a href="" title="">Giới thiệu</a></a></li>
                            <li ><a><a href="" title="">Liên hệ</a></a></li>
                            <li ><a><a href="" title="">Chuyển khoản online</a></a></li>
                            <li ><a><a href="" title="">Giao hàng và nhận hàng</a></a></li>
                            <li ><a><a href="" title="">Chính sách đổi trả</a></a></li>          
                            <li ><a><a href="" title="">Chính sách bảo hành</a></a></li>
                            <li ><a><a href="" title="">Chính sách Bảo mật</a></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Danh mục</h3>
                        <ul class="single-footer_ul">
                            <li ><a><a href="" title="">Thú bông</a></a></li>
                            <li ><a><a href="" title="">Đồ dùng cá nhân</a></a></li>
                            <li ><a><a href="" title="">Đồ dùng tiện ích</a></a></li>
                            <li ><a><a href="" title="">Phụ kiện và công nghệ</a></a></li>
                            <li ><a><a href="" title="">Quà lưu niệm</a></a></li>
                            <li ><a><a href="" title="">Đồ chơi</a></a></li>
                            <li ><a><a href="" title="">Lễ hội</a></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>stay connected</h3>
                        <ul class="footer-social single-footer_ul">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </li>
                        </ul>
                        <div class="subscribe">
                            <h3>subscribe in our newsletter</h3>
                            <form>
                                <input type="email" placeholder="Enter Your Email Address" >
                                <button type="submit" >subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-left">
                        <p>Copyright © 2020 by CHIP CHIP.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright-right">
                        <img src="assets/img/payment_methods.png" alt="payment" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
