<section class="shophia-breadcromb-area section_50">
    <div class="breadcromb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcromb">
                    <h2>product details</h2>
                    <ul>
                        <li><a href="index-2.html">home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>single product</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-product-page-left">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="viewproduct" class="nav nav-tabs product-view bxslider" data-tabs="tabs">
                                <div class="pro-view b-img active"><a href="#view1" data-toggle="tab"><img src="assets/img/pro-1.png" alt="product"></a></div>
                                <div class="pro-view b-img"><a href="#view2" data-toggle="tab"><img src="assets/img/pro-2.png" alt="product"></a></div>
                                <div class="pro-view b-img"><a href="#view3" data-toggle="tab"><img src="assets/img/pro-3.png" alt="product"></a></div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="my-tab-content" class="tab-content mb-30">
                                <div class="tab-pane b-img active" id="view1">
                                    <a href="#" ><img src="assets/img/pro-1.png" alt="product"  data-imagezoom="true"></a>
                                </div>
                                <div class="tab-pane b-img" id="view2">
                                    <a href="#" ><img src="assets/img/pro-2.png" alt="product" data-imagezoom="true"></a>
                                </div>
                                <div class="tab-pane b-img" id="view3">
                                    <a href="#"><img src="assets/img/pro-3.png" alt="product" data-imagezoom="true"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-product-page-right">
                    <h3>Gối ôm ngựa unicorn 150cm</h3>
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-half-o"></i></li>
                    </ul>
                    <div class="product-single-page-widget">
                        <h4>Mã SP: 09011687</h4>
                    </div>
                    <div class="product-single-page-widget">
                        <h4>$290</h4>
                    </div>
                    <div class="product-single-page-widget">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. luptate </p>
                    </div>
                    <div class="product-single-page-widget">
                        <h5>size</h5>
                        <ul class="size">
                            <li><a href="#">70</a></li>
                            <li><a href="#">90</a></li>
                            <li><a href="#">110</a></li>
                            <li><a href="#">130</a></li>
                            <li><a href="#">150</a></li>
                        </ul>
                    </div>
                    <div class="product-single-page-widget">
                        <div class="product-single-page-widget-double">
                            <h5>color</h5>
                            <ul class="color">
                                <li><a href="#" class="color_1">c</a></li>
                                <li><a href="#" class="color_2">>c</a></li>
                                <li><a href="#" class="color_3">>c</a></li>
                                <li><a href="#" class="color_4">>c</a></li>
                                <li><a href="#" class="color_5">>c</a></li>
                            </ul>
                        </div>
                        <div class="product-single-page-widget-double">
                            <h5>quantity</h5>
                            <input type="number" value="1" >
                        </div>
                    </div>
                    <div class="product-single-page-widget single-pro-share">
                        <a href="#" class="list-add-cart">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    


    <section class="section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="relater_product">
                        <h2>SẢN PHẨM LIÊN QUAN</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <div class="single-arrival-product">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/img/pro-2.png" alt="product" />
                            </a>
                            <div class="product-image-hover">
                                <a href="#">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h3><a href="#">Neque Metus</a></h3>
                            <p>$210</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    
</section>