<section class="shophia-breadcromb-area section_50">
    <div class="breadcromb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcromb">
                    <h2>login page</h2>
                    <ul>
                        <li><a href="index-2.html">home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>login page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shophia-login-page-area section_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-page-box">
                    <div class="login-page-heading">
                        <i class="fa fa-key"></i>
                        <h3>sign in</h3>
                    </div>
                    <form>
                        <div class="account-form-group">
                            <input type="text" placeholder="Username" name="username" >
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="account-form-group">
                            <input type="password" placeholder="Password" name="password" >
                            <i class="fa fa-lock"></i>
                        </div>
                        <p class="forgot">
                            <a href="#">Forgot username?</a>
                        </p>
                        <p>
                            <label>
                                <input name="remember" type="checkbox">
                                Remember Me
                            </label>
                        </p>
                        <p>
                            <button type="submit" >Login</button>
                        </p>
                    </form>
                    <div class="login-sign-up">
                        <a routerLink = "/register">Do you need an account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>