<section class="shophia-breadcromb-area section_50">
    <div class="breadcromb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcromb">
                    <h2>shop fullwidth</h2>
                    <ul>
                        <li><a href="index-2.html">home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>shop fullwidth</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shophia-shoppage-area section_100">
    <div class="container">
        <form>
            <div class="form-row align-items-center">
              <div class="col-auto my-1 text-right form_top">
                <label class="mr-sm-2 sr-only  " for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select form_product mr-sm-2" id="inlineFormCustomSelect">
                  <option  selected>Sản phẩm nổi bật</option>
                  <option value="1">Bán chạy nhất</option>
                  <option value="2">Mới nhất</option>
                </select>
              </div>
            </div>
          </form>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-2.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-4.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-1.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-3.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-1.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-2.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-3.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-4.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-4.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-3.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-1.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="single-arrival-product">
                    <div class="product-image">
                        <a href="#">
                            <img src="assets/img/pro-2.png" alt="product" />
                        </a>
                        <div class="product-image-hover">
                            <a routerLink = "/product-details">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a routerLink = "/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3><a href="#">Product</a></h3>
                        <p>$210</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-Page">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">...</a></li>
                      <li class="page-item"><a class="page-link" href="#">10</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</section>